<section class="burger-menu">
  <div class="mob-menu js-menu-container" id="mobile-menu">
    <div>
      <div class="mob-menu-logo-bt-wrap">
        <a class="link logotype-link" href="./index.html">
          <svg height="14" width="14" class="logotype-svg">
            <use href="/image/symbol.svg#icon-logo"></use>
          </svg>
          <span class="logotype-link-text">thewatchspot</span>
        </a>
        <button type="button" class="mob-menu-close js-close-menu">
          <svg width="24" height="24" class="mob-menu-close-icon">
            <use href="./images/icons.svg#icon-close-mob"></use>
          </svg>
        </button>
      </div>

      <div class="mob-menu-list-wrap">
        <ul class="mob-menu-list list">
          <li class="mob-menu-list-item">
            <a class="mob-menu-link link" href="#about-us">About us</a>
          </li>
          <li class="mob-menu-list-item">
            <a class="mob-menu-link link" href="#catalog">Catalog</a>
          </li>
          <li class="mob-menu-list-item">
            <a class="mob-menu-link link" href="#sale">Sale</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
