<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="link logotype-link" href="./index.html">
        <svg height="14" width="14" class="logotype-svg">
          <use href="/image/symbol.svg#icon-logo"></use>
        </svg>
        <span class="logotype-link-text">thewatchspot</span>
      </a>

      <ul class="header-nav-list list">
        <li class="header-list-item">
          <a class="header-nav-link link" href="#about-us">About us</a>
        </li>
        <li class="header-list-item">
          <a class="header-nav-link link" href="#catalog">Catalog</a>
        </li>
        <li class="header-list-item">
          <a class="header-nav-link link" href="#sale">Sale</a>
        </li>
      </ul>
    </nav>
    <address class="header-address">
      <a class="link address-link" href="tel:+380684439426"
        >+380 (68) 443-94-26</a
      >
    </address>
    <button
      type="button"
      class="mob-menu-open js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg width="32" height="22" class="mob-menu-open-icon">
        <use href="/image/symbol.svg#menu-open-icon"></use>
      </svg>
    </button>
  </div>
</header>
