.catalog-container {
   width: 100%;
   padding-left: 20px;
   padding-right: 20px;
}
@media screen and (min-width: 375px) {
    .catalog-container {
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .catalog-container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .catalog-container {
        max-width: 1280px;
        padding-left: 132px;
        padding-right: 132px;
    }
}


@media screen and (max-width: 1279px) {
.blockmob {
    display: none;
}
}

.catalog-position {
   display: flex;
   flex-direction: column;
}

.section-title {
  font-weight: 600px;
  color: var(--headers-color);
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  margin-bottom: 83px;
}

.section-text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--text-color);
    margin-bottom: 4px;
    margin-top: 14px;

    overflow: hidden;
    flex-shrink: 0;
}

.price {
    font-size: 12px;
    line-height: 1.17x;
    letter-spacing: -0.02em;
    color: var(--text-price-color);

}

.catalog .item {
    margin-bottom: 40px;
}


.overlay-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--text-white-color);

    margin-bottom: 10px;

}

.overlay-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 22px;
    width: 162px;  
}

.size {
    width: 236px;
}



.catalog.catalog-card:hover .overlay-desrpiption, 
.catalog.catalog-card:focus .overlay-desrpiption {
    opacity: 1;
    transform: translateY(0);

}

.overlay {
    position: relative;
    overflow: hidden;
}

.overlay-desrpiption {
    position: absolute;
    top: 0;
    left: 0;
    
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 60px;

    width: 100%;
    height: 100%;
    background-color: var(--footer-burger-accent-bg-dark-green);

    transform: translateY(100%); 
    transition: transform 250ms cubic-bezier var(--transform-cubik), opacity 250ms cubic-beziervar var(--transform-cubik);

    opacity: 0;
}



.button {
    background-color: var(--footer-burger-accent-bg-dark-green);
    border-radius: 8px;
    border: 1px solid var(--footer-burger-accent-bg-dark-green);
    border: none;
    color: var(--hero-h1-color);
  
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    margin-left: auto;

    display: block;
    
    width: 108px;

    padding: 14px 28px;

    transition: border 250ms cubic-bezier var(--transform-cubik);
}

.button:hover,
.button:focus {
    border: 1px solid var(--hero-h1-color);
} 


@media screen and (min-width: 768px) {
    .section-title {
        font-size: 40px;
        line-height: 1.10;
    }

    .button {
        width: 122px;
        
        padding: 18px 35px;
    }

    .catalog {
        display: flex;
        flex-wrap: wrap;
        row-gap: 40px;
        column-gap: 32px;
    }

    .catalog .item {
        width: calc((100% - 32px) /2)
        }
}

@media screen and (min-width: 1280px) {
    .section-title {
        margin-bottom: 90px;
    }

    .catalog-desrpiption {
        margin-top: 39px;
        margin-bottom: 90px;
        }

    .catalog {
        display: flex;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: 24px;
    }
        
    .catalog .item {
        width: calc((100% - 72px) /4)
    }
}




