.footer.section {
  background-color: var(--footer-burger-accent-bg-dark-green);
  padding-bottom: 20px;
}
.container.foot {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.footer-logo-link {
  position: absolute;
  left: 0;
}
.footer-logo {
  fill: var(--text-white-color);
}
.footer-menu-div {
  display: flex;
  justify-content: end;
  position: relative;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-menu-text {
  color: var(--text-white-color);
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.footer-icon-list {
  margin-bottom: 80px;
  gap: 14px;
}
.footer-social {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 40px;
  height: 40px;
}
.footer-icon-link {
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.footer-icon {
  fill: var(--text-white-color);
}

.footer-address-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
.link-addres-tel {
  color: var(--text-white-color);
  text-transform: uppercase;
}
.link-addres-map {
  color: var(--text-white-color);
  letter-spacing: -0.02em;
}
.footer-icon-list {
  display: flex;
}
.footer-text-list {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}

.footer-text.copy {
  opacity: 0.9;
  margin-bottom: 14px;
}
.footer-text {
  color: var(--text-copyright-footer-color);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .footer.section {
    padding-top: 80px;
  }
  .container.foot {
    position: relative;
    padding-left: 32px;
    padding-right: 32px;
  }
  .footer-text-wrap {
    display: flex;
    justify-content: space-between;
  }
  .footer-menu-div {
    justify-content: center;
  }
  .footer-menu {
    gap: 18px;
  }
  .link-addres-tel {
    font-size: 18px;
    line-height: 1.33;
  }
  .link-addres-map {
    font-size: 18px;
    line-height: 1.33;
  }

  .footer-icon-wrap {
    position: absolute;
    right: 32px;
    top: 0;
  }
  .footer-address-list {
    margin-bottom: 152px;
  }
  .footer-icon-list {
    margin: 0;
  }
  .footer-text-list {
    gap: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
  .footer.section {
    padding-top: 104px;
    padding-bottom: 32px;
  }
  .container.foot {
    padding-left: 132px;
    padding-right: 132px;
  }
  .footer-address-list {
    margin-bottom: 174px;
  }
  .footer-icon-wrap {
    right: 132px;
    top: 0;
  }
}
