.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.header {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
}
.header-container {
  padding-top: 29px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.logo-img {
  background-color: transparent;
  height: 14px;
  width: 14px;
}
.logotype-link {
  display: flex;
  gap: 4px;
  align-items: center;
}
.logotype-link-text {
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.header-nav-list {
  display: none;
}
.header-nav-link {
  font-weight: 400;
  font-size: 9px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-white-color);
}
.header-address {
  display: none;
}
.address-link {
  font-weight: 400;
  font-size: 9px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-white-color);
}
.mob-menu-open-icon {
  fill: var(--text-white-color);
  background-color: transparent;
}
.mob-menu-open {
  position: absolute;
  top: 29px;
  right: 20px;
  background-color: transparent;
  border: 0;
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .header-container {
    padding-top: 34px;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-nav-list {
    display: flex;
    gap: 40px;
  }
  .logotype-link {
    margin-right: 80px;
  }
  .logotype-link-text {
    font-size: 15px;
  }
  .logo-img {
    height: 19px;
    width: 19px;
  }
  .header-address {
    background-color: var(--footer-burger-accent-bg-dark-green);
    border-radius: 8px;
    width: 159px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mob-menu-open {
    display: none;
  }
}
@media screen and (min-width: 1140px) {
  .container {
    max-width: 1140px;
    padding-left: 132px;
    padding-right: 132px;
  }
  .logotype-svg {
    height: 19px;
    width: 19px;
  }
}
