

.hero {
 width: 100%;
  max-width: 375px;
  height: auto;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
    background-color: var(--section-hero-bg-color);
    background-position: center;
    background-size: cover;
}

.swiper {
  text-align: center;
margin-left: 20px;
margin-bottom: 40px;
    height: 245px;
    width: 266px;
  }

  #swiper, swiper-container {
    margin-left: 20px;}

  /* .swiper-buttons {
    position: absolute;
    transform: translateY(-100%);
   margin-left: 40px;
    margin-top: -20px;
  } */

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  color: var(--text-white-color);
font-size: 18px;
text-align: center;
justify-content: baseline;
align-items: center;
width: 32px;
height: 32px;
/* border: 1px solid var(--text-white-color);
border-radius: 25%; */
}



.swiper .swiper-pagination-fraction {
  font-size: 20px;
  color: var(--text-white-color);
  text-align: end;
}

.main-title {
  display: block;
  width: 100%;
font-weight: 600;
font-size: 38px;
line-height: 1.05;
letter-spacing: -0.04em;
padding: 42px 20px 60px 20px;
color: var(--hero-h1-color);
}

.hero-text {
  font-weight: 300;
font-size: 14px;
line-height: 1.29;
letter-spacing: -0.02em;
color: var(--hero-h1-color);
margin-left: 97px;
margin-bottom: 40px;
margin-right: 20px;
}

.hero-image {
  display: block;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: auto; 
}

@media screen and (min-width: 375px) {
  .hero {
    max-width: none;
    width: 355px;
}
}

@media screen and (min-width: 768px) {

.section {
  margin: 0;
}

    .hero {
      display: flex;
      flex-wrap: wrap;
        width: 736px;
        min-width: 0;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0;}

        .swiper {
          margin-bottom: 0;
            width: 436px;
            height: 300px;
          }
        
      
      .main-title {
        width: 100%;
      font-weight: 600;
      font-size: 60px;
      line-height: 1.03;
      letter-spacing: -0.04em;
      padding: 68px 83px 0 32px;
      margin-bottom: 0;
      color: var(--hero-h1-color);
      }
      
      .swiper {
        margin-left: 0;
        margin-right: 0;
      }

      #swiper {
        margin-left: 0;
        margin-right: 20px;}

      #text .swiper-pagination 

      .hero-image {
        width: 676px;
        display: flex;
        margin: 0;
      }

      .hero-text {
        display: block;
        width: 248px;
        padding: 0;
        margin-bottom: 130px;
        margin-top: 130px;
        margin-right: 0;
        margin-left: 0;
      }

      /* .hero-text {
        display: flex;
      padding-left: 20px;
      padding-bottom: 177px;
      } */
      
      /* .hero_image {
        width: 704px;
        height: 410px;
      
      } */
    }

    @media screen and (min-width: 1280px) {
      
      .hero {
        display: flex;
        flex-wrap: wrap;
        width: 1464px;
        padding-top: 148px;
        padding-bottom: 80px;
        padding-left: 132px;
        padding-right: 132px;
      }

      .main-title {
        display: block;
        width: 750px;
        margin-right: 144px;
        margin-top: 68px;
        margin-bottom: 43px;
        padding: 0;
      }

      .swiper {
        margin-left: 0;
        margin-right: 0;
      }

      .hero-image {
        width: 676px;
        display: flex;
        margin: 0;
      }

      .hero-text {
        display: block;
        width: 282px;
        padding: 0;
        margin-bottom: 43px;
        margin-top: 68px;
      }

      .hero .main-title:nth-child(1) {
        order: 1;
      }

      .hero .swiper:nth-child(2) {
        order: 3;
      }

      .hero .hero-text:nth-child(3) {
        order: 2;
      }

      .hero .hero-image:nth-child(4) {
        order: 4;
      }

     
        }