.hero {
    background-color: aqua;
}

.swiper {
    width: 800px;
    height: 300px;
  }

.main-title {

font-weight: 600;
font-size: 138px;
line-height: 40px;
/* or 105% */

letter-spacing: -0.04em;

color: #FFFFFF;
}