.section-udercover {
  background-color: var(--section-hero-bg-color);
}

.container {
  width: 100%;
  max-width: 355px;
}

.hero {
  width: 100%;
  max-width: 355px;
  height: auto;
  margin: 0 auto;
  justify-content: center;
  background-color: var(--section-hero-bg-color);
  background-position: center;
  background-size: cover;
  /* outline: 1px solid red; */
}

.swiper {
  width: 266px;
  height: 245px;
  text-align:left;
  margin-bottom: 40px;
  margin-right: 20px;
}

#swiper {
  margin-left: 20px;
}

.swiper-buttons {
  position: static;
  margin-left: 0;
  margin-right: 0;
  margin-right: auto;
  margin-top: -35px;
  padding: 0;
  display: flex;
  gap: 12px;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  font-size: 10px;
  text-align: center;
  justify-content: baseline;
  align-items: center;
  width: 32px;
  height: 32px;
  display:grid;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  position: static;
  width: auto;
  height: auto;
  margin-top: 0;
  color: rgba(255, 255, 255, 0.5);
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 25%;
}

.swiper .swiper-button-next:hover,
.swiper .swiper-button-prev:hover {
  color: var(--text-white-color);
  border: 1px solid var(--text-white-color);
}

.swiper .swiper-pagination {
  position:static;
}

.swiper .swiper-pagination-fraction {
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--text-white-color);
  text-align:end;
}

.line {
  display:inline-block;
  width: 40px;
  border-top: 1px solid var(--text-white-color);
  padding-top: 5px;
  margin-left: 6px;
  margin-right: 6px;
}

.swiper-pagination-current,
.swiper-pagination-total {

}

.main-title {
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: 38px;
  line-height: 1.05;
  letter-spacing: -0.04em;
  padding: 42px 20px 60px 20px;
  color: var(--hero-h1-color);
}

.hero-text {
  display: flex;
  width: 248px;
  margin-bottom: 40px;
  margin-left: 97px;
  margin-right: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--hero-h1-color);
}

.hero-image {
  display: block;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: auto; 
}

@media screen and (min-width: 375px) {
.hero {
  max-width: none;
  width: 355px;
}
}

@media screen and (min-width: 768px) {

.container {
  width: 736px;
  padding-left: 16px;
  padding-right: 16px;
}

.section {
  margin: 0;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 736px;
  min-width: 0;
  align-items: center;
  padding: 0;
}

.swiper {
  width: 436px;
  height: 300px;
  margin-top: 60px;
  margin-right: 20px;
}

#swiper {
  margin-left: 32px;
}

.main-title {
  font-size: 60px;
  line-height: 1.03;
  padding: 68px 83px 0 32px;
  margin-bottom: 0;
}

.hero-text {
  display: block;
  width: 215px;
  padding: 0;
  margin-bottom: 130px;
  margin-top: 130px;
  margin-left: 0;
  margin-right: 32px;
}

.hero-image {
  display: flex;
  width: 676px;
  margin-left: 32px;
}
}

@media screen and (min-width: 1280px) {
      
.hero {
  width: 1200px;
  padding-top: 148px;
  padding-bottom: 80px;
  padding-left: 12px;
  padding-right: 12px;
}

#swiper {
  margin-left: 0;
  margin-right: 54px;
}

.main-title {
  display: block;
  width: 750px;
  margin-right: 144px;
  margin-top: 68px;
  margin-bottom: 43px;
  padding: 0;
}

.hero-text {
  width: 282px;
  margin-bottom: 177px;
  margin-top: 130px;
}

.hero-image {
  margin: 0;
}

.hero .main-title:nth-child(1) {
  order: 1;
}

.hero .swiper:nth-child(2) {
  order: 3;
}

.hero .hero-text:nth-child(3) {
  order: 2;
}

.hero .hero-image:nth-child(4) {
  order: 4;
}
}