.new-watches {
    background-color: var(--section-bg-color-white);
    }
.subtitle {
    font-family: Epilogue, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.16;
    color: rgba(20, 20, 20, 0.4);
    letter-spacing: 0.06em;

} 
