/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.title {
    font-family: Epilogue, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: var(--text-color);

} body p {
  font-family: 'Epilogue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.02em;
}
.container {
  width: 355px;
  padding-left: 10px;
  padding-right: 10px;
}

/* .container-tablet {
  width: 736px;
  padding-left: 16px;
  padding-right: 16px;
}

.container-desktop {
  width: 1200px;
  padding-left: 12px;
  padding-right: 12px;
} */