/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@font-face {
  font-family: Epilogue-regular;
  src: url(../fonts/Epilogue/static/Epilogue-Regular.ttf);
};
@font-face { 
  font-family: Epilogue-SemiBold;
  src: url(../fonts/Epilogue/static/Epilogue-SemiBold.ttf);
};
@font-face {
    font-family: Epilogue-light;
    src: url(../fonts/Epilogue/static/Epilogue-Light.ttf);

};
@import url('./variables.css');
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-us.css');
@import url('./catalog.css');
@import url('./new-watches.css');
@import url('./sale.css');
@import url('./footer.css');
@import url('./buy-now.css');
@import url('./burger-menu.css');
